@import '../../style/utils/variables';
@import '../../style/utils/mix';

.category__title {
  @include vertical-center;
  &__color {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  &__text {
    letter-spacing: 2.4px;
    color: $medium-grey;
    margin-left: 12px;
  }
}
