@import '../../style/utils/variables';
@import '../../style/utils/typography';
@import '../../style/utils/functions';

.btn {
  width: pixelToRem(255);
  color: $white;
  border: none;
  cursor: pointer;
  &.xsmall {
    width: pixelToRem(48);
    height: pixelToRem(32);
    border-radius: 24px;
    @extend .fw-700-xl;
  }
  &.small {
    height: pixelToRem(40);
    border-radius: 20px;
    @extend .fw-700-sm;
  }
  &.medium {
    height: pixelToRem(48);
    width: pixelToRem(174);
    border-radius: 24px;
    @extend .fw-700-m;
  }
  &.large {
    height: pixelToRem(48);
    border-radius: 24px;
    @extend .fw-700-m;
  }
  &.fullwidth {
    width: 100%;
  }
  &.primary {
    background-color: $main-purple;
    &:hover {
      background-color: $main-purple-hover;
    }
  }
  &.secondary {
    background-color: rgba(99, 95, 199, 0.1);
    color: $main-purple;
    &:hover {
      background: rgba(99, 95, 199, 0.25);
    }
  }
  &.destructive {
    background-color: $red;
    &:hover {
      background-color: $red-hover;
    }
  }
  &:disabled {
    opacity: 0.45;
    cursor: not-allowed;
  }
  &.dark {
    &.secondary {
      background-color: $white;
    }
  }
}
