@import '../../style/utils/variables';
@import '../../style/utils/typography';

.btn {
  width: 255px;
  color: $white;
  border: none;
  cursor: pointer;
  &.small {
    height: 40px;
    border-radius: 20px;
    @extend .fw-700-sm;
  }
  &.large {
    height: 48px;
    border-radius: 24px;
    @extend .fw-700-m;
  }
  &.primary {
    background-color: $main-purple;
    &:hover {
      background-color: $main-purple-hover;
    }
  }
  &.secondary {
    background-color: rgba(99, 95, 199, 0.1);
    color: $main-purple;
    &:hover {
      background: rgba(99, 95, 199, 0.25);
    }
  }
  &.destructive {
    background-color: $red;
    &:hover {
      background-color: $red-hover;
    }
  }
  &:disabled {
    opacity: 0.45;
    cursor: not-allowed;
  }
}
