.vertical-center {
  display: flex;
  align-items: center;
}

.horizontal-center {
  display: flex;
  justify-content: center;
}

.center-flex {
  @extend .vertical-center;
  justify-content: center;
}

.space-between {
  @extend .vertical-center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
