.fw-500-md {
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
}

.fw-700-xs {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.4px;
}

.fw-700-sm {
  font-size: 13px;
  font-weight: 700;
  line-height: 23px;
}

.fw-700-m {
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
}

.fw-700-lg {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.fw-700-xl {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
