// COLORS
$main-purple: #635fc7;
$main-purple-hover: #a8a4ff;
$black: #000112;
$very-dark-grey: #20212c;
$dark-grey: #2b2c37;
$lines-dark: #3e3f4e;
$medium-grey: #828fa3;
$lines-light: #e4ebfa;
$light-grey: #f4f7fd;
$white: #ffffff;
$red: #ea5555;
$red-hover: #ff9898;
