@import '../../style/utils/variables';
@import '../../style/utils/functions';

.container {
  padding: pixelToRem(24);
  background-color: $light-grey;
  display: flex;
  column-gap: pixelToRem(24);
  height: calc(100vh - pixelToRem(97));
  overflow-x: auto;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $light-grey;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    height: 8px;
    background-color: $light-grey;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $main-purple-hover;
  }
  &__new-column {
    min-width: pixelToRem(280);
    margin-top: pixelToRem(39);
    background: linear-gradient(
      180deg,
      #e9effa 0%,
      rgba(233, 239, 250, 0.5) 100%
    );
    border-radius: 6px;
    color: $medium-grey;
    cursor: pointer;
    &:hover {
      color: $main-purple;
    }
  }
  &__empty-board {
    width: 100%;
    p {
      color: $medium-grey;
      margin-bottom: 2rem;
      text-align: center;
    }
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .container {
    height: calc(100vh - pixelToRem(80));
  }
}

@media screen and (max-width: 425px) {
  .container {
    height: calc(100vh - pixelToRem(64));
  }
}
