* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::before,
  ::after {
    box-sizing: border-box;
  }
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Plus Jakarta Sans', sans-serif;
  // display: flex;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  width: 100%;
  &.isOpened {
    width: calc(100% - 300px);
  }
}

@media screen and (max-width: 768px) {
  .main {
    &.isOpened {
      width: calc(100% - 260px);
    }
  }
}
