@import '../../../style/utils/variables';

.item-detail-modal {
  &__description {
    color: $medium-grey;
  }
  &__subtask-label {
    color: $medium-grey;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  &__subtasks {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    margin-bottom: 1.5rem;
  }
}
