@import '../../style/utils/variables';
@import '../../style/utils/functions';

.theme-selector {
  width: pixelToRem(251);
  height: pixelToRem(48);
  padding: 0 65px;
  background-color: $light-grey;
  border-radius: 6px;
  &__light-icon {
    display: inline-block;
    width: pixelToRem(18.33);
    height: pixelToRem(18.33);
    background: url('../../assets/icon-light-theme.svg');
    &.active {
      background: url('../../assets/icon-light-theme-active.svg');
      animation: rotate 1s ease-in-out;
      @keyframes rotate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
  &__dark-icon {
    display: inline-block;
    width: pixelToRem(16);
    height: pixelToRem(16);
    background: url('../../assets/icon-dark-theme.svg');
    &.active {
      background: url('../../assets/icon-dark-theme-active.svg');
      animation: translate 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      @keyframes translate {
        0% {
          transform: translateY(20px);
          opacity: 0.2;
        }
        25% {
          opacity: 0.4;
        }
        50% {
          opacity: 0.6;
        }
        75% {
          opacity: 0.8;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
  &.dark {
    background-color: $very-dark-grey;
  }
}

@media screen and (max-width: 768px) {
  .theme-selector {
    width: pixelToRem(235);
  }
}
